*{
    padding: 0;margin: 0; font-family: Sans-Serif; text-decoration: none; box-sizing: border-box;
}

body{
    background: #f8f2de;
    text-align: justify; font-size: 0.5cm;
    margin: 1cm;
}

h1{ 
    text-align: center;
    margin: 0.8cm 0;
    font-size: 0.8cm;
}

h2{
    font-size: 0.7cm;
    margin: 14px 0;
}

h3{
    font-size: 0.6cm;
   margin: 10px 0.5cm; 
}

li {
  margin-bottom: 0.2cm;
}

ol{
    margin-left: 0.5cm;
}

a {
  display:block;
  color: #ff6700;
  margin: 0.2cm 0.5cm;
}

a:hover {
  color: #ff9c00;
}

img {
  display: block;
  margin: 0.5cm auto;
  border: 2px solid black;
  border-radius: 0.5cm;
}

.img{
  width: 720px;
}

.imin{
  max-width:360px;
}

.imax{
  width: 1280px;
}

.youtube {
  display: block;
  width: 720px;
  height: 405px;
  margin: 0.5cm auto;
  border: 2px solid black;
  border-radius: 0.5cm;
}

.ext {
  margin: 0.5cm auto;
  width: 100%;
  height: 90vh;
  border: 2px solid black;
  border-radius: 0.5cm;
}

hr {
  background: black;
  border: 0.1cm solid black;
}

p {
  margin-bottom: 0.2cm;
}

.der {
    text-align: right;
}

.izq {
    text-align: left;
}

.dest{
  background: rgba(255,255,255,0.3);
  text-align: center;
  padding: 0.3cm 0;
  font-style: italic;
  border-bottom: 2px solid black;
  border-radius: 0.25cm;
}

.bott{
  display: inline-block;
  width: 100%;
  margin: 0;
  list-style: none;
}

.bott > a{
  font-size: 0.5cm;
  margin:0;
  color:black;
  width: 100%;
  padding: 0.3cm 0.5cm;
  border-bottom: 2px solid black;
  display: inline-block;
}

.bott > a:hover{
  background: rgba(0,0,0,0.8);
  color:white;
}

.menu {
    font-size: 0.55cm;
    display: block;
    position: fixed;
    top:0;
    left: 0;
}
.menu li{
    margin:0;
    list-style: none;
}

.menu a{
    text-align: center;
    color: #000;
    padding: 0.2cm 0.35cm; margin: 0;
    background: rgba(255,255,255,0.7);
    border-bottom:2px solid black;
}

.menu a:hover{
    background: rgba(0,0,0,0.7);
    color:white;
}

.menu li > ol{
    margin: 0;
    display: none;
}

.menu li:hover > ol{
    display: block;
}
    
@media screen and (max-width: 15cm) {
    
  body {
    margin: 1cm 0.5cm;
    font-size: 0.5cm;
  }

  img, .img .imax{
    width: 100%;
  }

  .youtube {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .imax{
    width:100%;
  }
}

@media screen and (max-width: 800px) {
  body {
    margin: 1cm 0.5cm;
    font-size: 0.5cm;
  }

  img, .img {
    width: 100%;
  }

  .youtube {
    width: 100%;
  }
}
